<div id="dashboard">
<%= cond do %>
  <% is_nil(@current_node) -> %>
    <.live_component module={DallasWeb.DashboardEmpty} id="dash" path={@lost_path} />

  <% @current_node.is_leaf -> %>
    <.live_component module={DallasWeb.DashboardLeaf} id="dash" path={@current_node.path} current_node={@current_node} />

  <% true -> %>
    <.live_component module={DallasWeb.DashboardDash} id="dash" children_nodes={@children_nodes} path={@current_node.path} />
<% end %>
</div>
