<section id={@id}>
  <.live_component module={DallasWeb.Breadcrumbs} id="breadcrumbs" path={@path} />

  <section class="center-content">
    <h2>There are no measurements here</h2>
  </section>
</section>
